/* GLOBAL */

html {
  box-sizing: border-box;
  font-family: "Poiret One", "Arial", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol,
ul {
  margin: 0;
  padding-left: 2rem;
}

hr {
  margin: 1.5rem 0;
  background: hsla(0, 0%, 0%, 0.2);
  border-style: none;
  height: 1px;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

small {
  font-size: 82%;
}

address {
  font-style: normal;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Dark mode styles */
.dark-switcher {
  color: #fff;
  margin-top: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}
@media (min-width: 992px) {
  .dark-switcher {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}
.dark {
  background-color: #2a2b2d;
  color: #fff;
  transition: all 0.6s ease;
}
.light {
  transition: all 0.6s ease;
  background-color: #fefefe;
}
/* .dark a,
.dark a:visited {
  color: #fff;
} */
