/* GLOBAL */

html {
  box-sizing: border-box;
  font-family: "Poiret One", "Arial", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ol,
ul {
  margin: 0;
  padding-left: 2rem;
}

hr {
  margin: 1.5rem 0;
  background: hsla(0, 0%, 0%, 0.2);
  border-style: none;
  height: 1px;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

button {
  padding: 0;
  border-style: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

small {
  font-size: 82%;
}

address {
  font-style: normal;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
