:root {
  --neutral-000: rgb(255, 255, 255);
  --neutral-100: rgb(243, 243, 243);
  --neutral-200: rgb(205, 205, 205);
  --neutral-300: rgb(167, 167, 167);
  --neutral-400: rgb(129, 129, 129);
  --neutral-500: rgb(91, 91, 91);
  --neutral-600: rgb(53, 53, 53);
  --neutral-700: rgb(15, 15, 15);
  --neutral-800: rgb(0, 0, 0);

  --text-color: var(--neutral-700);
  --text-color-inverted: var(--neutral-100);
}
