.page-container {
  width: 90%;
  max-width: 900px;
  margin: 5rem auto 3rem;
}

.page-title {
  margin-bottom: 1rem;
}

.blog-intro {
  margin-bottom: 3rem;
  text-align: justify;
}

/* The main structure of a post item */
.post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-featured {
  padding: 3rem 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/* The post items list structure */
.posts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 3rem;
}

.post-featured > *:not(:last-child) {
  margin-bottom: 1.4rem;
}

.post-list-item > *:not(:last-child) {
  margin-bottom: 0.8rem;
}

.post-image {
  width: 100%;
}

.post-date {
  /* color: gray; on light mode only */
}

.post-title:visited {
  color: #fff; /*inherit?*/
}

.post-featured > .post-title {
  font-size: 1.8rem;
}

.post-list-item > .post-title {
  font-size: 1.2rem;
}

.post-excerpt {
  text-align: justify;
}

.post-category {
  text-transform: uppercase;
  color: rgb(15, 138, 110); /*dark  color: rgb(24, 236, 188);*/
}
