.root {
  min-height: 100vh;
  position: relative;
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  position: absolute;
  bottom: 2.5rem;
  left: 3rem;
  font-size: 5em;
  color: #fff;
}
