@import "../styles/vars.css";

.root.above {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.root.above::before {
  content: "";
  width: 100%;
  height: 150%;
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.root.above a {
  color: var(--text-color-inverted);
}

.root.default {
  border-bottom: solid 1px var(--neutral-200);
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.site-title {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.site-title:hover {
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  font-size: 0.9em;
}

.nav-links-wrapper {
  padding-right: 1rem;
  border-right: 1px solid #7d7d7d;
}

.nav-links-wrapper > a {
  padding: 0.6rem;
}

.nav-links-wrapper > a[aria-current] {
  text-decoration: underline;
}

.nav-links-wrapper > a:not(:first-child) {
  margin-left: 1rem;
}

.other-controls {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.other-controls > *:not(:first-child) {
  margin-left: 1rem;
}
