@import "../styles/vars.css";

.root.above {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.root.above a {
  color: var(--text-color-inverted);
}

.root.default {
  border-bottom: solid 1px var(--neutral-200);
}

.root.default a {
  color: var(--neutral-500);
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.site-title {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.site-title > a {
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  font-size: 0.9em;
}

.nav > a {
  padding: 0.6rem;
  text-decoration: none;
}

.nav > a[aria-current],
.nav > a:hover {
  text-decoration: underline;
}

.nav > a:not(:first-child) {
  margin-left: 1rem;
}
