@import "../styles/vars.css";

.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: var(--neutral-000);
  transition: background-color 1s;
}

.layout-wrapper.dark {
  color: var(--text-color-inverted);
  background-color: var(--neutral-600);
}
